.image-container {
  max-width: 90vw;
  margin: 0 auto;
  position: absolute;
}

.grid-display {
  column-count: 4;
}

.grid-display button {
  margin-bottom: 1em;
}
.image-gallery {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background-color: rgb(0, 0, 0, 0.6);
}
.image-gallery div {
  background-color: white;
  width: 80%;
  height: 48%;
  margin: 0px auto;
  border-radius: 5px;
  top: 20px;
  text-align: center;
}
.image-gallery div img {
  height: 160%;
  margin-top: 8%;
}
